name: Xray Remote Job

on:
  workflow_dispatch:
    inputs:
      executionKey:
        description: 'Xray Test Execution Key'
        required: false
  push:
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Dummy step
        run: echo "Workflow triggered from Xray"
